manifest {
	mainScript = 'amrplusplus.nf'
}

profiles {
	angus {
		process {
			executor = 'local'
			maxForks = 1
		}
		executor {
			queueSize = 2
			pollInterval = '1sec'
		}
		
		env {
			GENOME="/s/angus/index/databases/bowtie2_indexes/mod_bos_taurus/mod_bos_taurus.fna"
			AMR_DB="/s/angus/index/databases/MEGARes/megares_database.fasta"
			KRAKEN_DEFAULT_DB="/s/angus/index/databases/kraken_databases/Standard_kraken_10.14.db"
			TRIM_PATH="/s/angus/index/common/tools/Trimmomatic-0-1.32"
			PATH="${PATH}:/usr/bin/bowtie2"
			PATH="${PATH}:/s/angus/index/common/tools/csa"
			PATH="${PATH}:/usr/local/bin/samtools"
			PATH="${PATH}:/usr/local/bin/kraken"
			PATH="${PATH}:/usr/bin/bamToFastq"
		}
	}
}
